

	<h2 class="page-header">Fill in the Details to add a User</h2>
	<%= form_for(:user, :url => {:controller => 'home', :action => 'add_user'}) do %>
		<div class="form-group">
			<%#= label_tag("Publisher") %>
			<%= text_field_tag(:firstname, nil, :placeholder => "First Name", :class => "form-control") %>
		</div>
		<div class="form-group">
			<%#= label_tag("Year") %>
			<%= text_field_tag(:lastname, nil, :placeholder => "Last Name", :class => "form-control") %>
		</div>
		<div class="form-group">
			<%#= label_tag("Edition") %>
			<%= text_field_tag(:username, nil, :placeholder => "Username", :class => "form-control") %>
		</div>
		<div class="form-group">
			<%#= label_tag("Edition") %>
			<%= password_field_tag(:password, nil, :placeholder => "Password", :class => "form-control") %>
		</div>
		<%= submit_tag("Add User", :class => "btn btn-success") %>
	<% end %>
