<!DOCTYPE html>
<html>
<head>
	<title> Add New Users</title>
</head>
<body>

	<h2>Add User Form</h2>

	<%= form_for(:user, :url => {:controller => 'home', :action => 'add_user'}) do %>
			<table>
			 	<tr>
			 		<td>Firstname </td>
			 		<td> <%= text_field_tag(:firstname) %> </td>
			 	</tr>

			 	<tr>
			 		<td>Lastname</td>
			 		<td> <%= text_field_tag(:lastname) %></td>
			 	</tr>

			 	<tr>
			 		<td>Username</td>
			 		<td> <%= text_field_tag(:username) %> </td>
			 	</tr>

			 	<tr>
			 		<td>&nbsp;</td>
			 		<td> <%= submit_tag('Add User') %> </td>

			 	</tr>

			</table>
	<% end %>
</body>
</html>