

	<p class="page-header text-center">Fill in the Details to add an Item Category</p>

	<%= form_for(:item, :url => {:controller => 'home', :action => 'add_category'}) do %>
		
		<div class="form-group">
			<%= label_tag("Category Name") %>
			<%= text_field_tag(:name, nil, :placeholder => "Name", :class => "form-control") %>
		</div>
		
		<div class="form-group">
			<%= label_tag("Description") %>
			<%= text_field_tag(:cat_description, nil, :placeholder => "description", :class => "form-control") %>
		</div>
		
		
		<%= submit_tag("Add Category", :class => "btn btn-success") %>
	<% end %>
	<hr>

