
<!DOCTYPE html>
<html>
<head>
	<title>Add Item</title>
</head>
<body>

<%= link_to "Home", home_index_path %>
<%= link_to "Add User", home_add_user_path %>
<%= link_to "Logout", home_logout_path %>

	<h1>Fill in the Details to add an Item</h1>
	<%= form_for(:item, :url => {:controller => 'home', :action => 'add_item'}) do %>
		<label for="item_name">Item Name</label>
		<%= text_field_tag(:item_name) %>

		<label for="item_category">Item Category</label>
		<%#= text_field_tag(:item_category) %>
		<%= select_tag(:item_category, options_for_select(['','Books','CDs/DVDs','Journals/Magazines'])) %>
		<%= submit_tag("Add") %>
	<% end %>


</body>
</html>