<!DOCTYPE html>
<html>
<head>
	<title>Library Management System</title>
</head>
<body>
	<div>
		<h1>Library Management System</h1>
	</div>
	<div>
		<p>Time: <%= @time %></p>
		<p>Date: <%= @date %></p>
		<p>Logged in as <%= @logged_user.username %></p>
		<ul>

			<%= link_to "logout", home_logout_path, 
				:confirm => "Are you sure you want to Logout?"
			%>

			<% if @logged_user.user_role == 'Administrator' %>

	      		<%= link_to "Add Item", home_add_item_path %>
	      		<%= link_to "Add User", home_add_user_path %>

      		<% end %>
    

		</ul>
	</div>
	<div>
		<!-- Stock-->
		<div class="row">
			<div class="col">
				<table>
					<tr>
						<th>Item Name</th>
						<th>Item Category</th>
					</tr>
					<% @items.each do |item| %>
						<tr>
							<td><%= item.item_name %></td>
							<td><%= item.item_category %></td>
						</tr>
					<% end %>
				</table>
			</div>
			<div class="col">
				<p>Item Description</p>
			</div>
		</div>
	</div>

</body>
</html>