
	<div>
		<!-- Items-->
		<div class="row">
			<div class="col">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#books" data-toggle="tab">Books</a></li>
					<li><a href="#cds" data-toggle="tab">CDs/DVDs</a></li>
					<li><a href="#journals" data-toggle="tab">Journals</a></li>
					<li><a href="#laptops" data-toggle="tab">Laptops</a></li>
				</ul>
			</div>
		</div>

		<!-- Category i -->
		<div class="tab-content">
			<div class="tab-pane fade in active" id="books">
				<div class="table-responsive">
					<table class="table">
						<caption>
							Item Table
						</caption>
						<thead>
							<tr>
								<th>Name</th>
								<th>Author</th>
								<th>Edition</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<% @items.where(:item_category_id => 1).each do |item| %>
								<tr>
									<td><%= item.item_name %></td>
									<td><%= item.author %></td>
									<td><%= item.edition %></td>
									<% if @logged_user.user_role == 'Administrator' %>
										<td>Am admin</td>
						      		<% end %>
								</tr>
							<% end %>
						</tbody>						
					</table>					
				</div>

			</div>
			<div class="tab-pane fade" id="cds">
				<% @items.where(:item_category_id => 2).each do |item| %>
					<tr>
						<td><%= item.item_name %></td>
						<td><%= item.item_category_id %></td>
					</tr>
				<% end %>
			</div>
			<div class="tab-pane fade" id="journals">
				<% @items.where(:item_category_id => 3).each do |item| %>
					<tr>
						<td><%= item.item_name %></td>
						<td><%= item.item_category_id %></td>
					</tr>
				<% end %>
			</div>
			<div class="tab-pane fade" id="laptops">
				<p>Hello Laptops</p>
			</div>
		</div>
	</div>
