<div>
	<!-- Notification for action taken to borrow request. -->
				<% if flash[:notice] %>
					<% approve = flash[:notice] %>
					<% if approve == "Item Approved" %>
						<div class="bg-success">
							<h1 class="text-center text-success"><%= flash[:notice] %></h1>
					<% else %>
						<div class="bg-danger">
							<h1 class="text-center text-danger"><%= flash[:notice] %></h1>
					<% end %>
							
						</div>				
				<% end %>
	<table class="table table-striped">
		<caption>
			<% if @borrow_requests.where(:status => "Borrow Request").empty? %>
				<p class="text-center bg-primary"> No borrow requests.</p>
			<% else %>
			<p class="text-center bg-danger">Items awaiting approval</p>
			<% end %>
		</caption>
		<thead class="bg-info">
			<tr>
			<th> Category</th>
			<th><span class="glyphicon glyphicon-book"></span> Title</th>
			<th><span class="glyphicon glyphicon-user"></span> Author</th>
			<th> Edition</th>
			<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @borrow_requests.where(:status => "Borrow Request").each do |item| %>
				<tr>
					<td><%= item.item_category_id %></td>
					<td><%= item.item_name %></td>
					<td><%= item.author %></td>
					<td><%= item.edition %></td>
					<td>
						<div class="btn-group">
							<form action="/home/approve">
								<input type="text" value = "<%= item.item_id %>" class="hidden" name="passed_item_id_to_approve" />
								<input type="text" value = "Approved" class="hidden" name="approve_status" />
								<button class="btn btn-sm btn-success" type="submit">
									<span class="glyphicon glyphicon-check"></span> Approve
								</button>
							</form>
							<form action="/home/reject">
								<input type="text" value = "<%= item.item_id %>" name="passed_item_id_to_reject" class="hidden">
								<input type="text" value = "Rejected" name = "reject_status" class="hidden">
								<button class="btn btn-sm btn-danger" type = "submit">
									<span class="glyphicon glyphicon-erase"></span> Reject
								</button>
							</form>
						</div>
					</td>
				</tr>
				
			<% end %>

		</tbody>
	</table>
</div>