<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Library System</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag "bootstrap/bootstrap.min" %>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body background="../../../assets/brownbg.jpg" style="background-repeat: no-repeat; background-attachment: fixed">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseable_navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="font-family: algerian;"> Library Management System </a>
                </div>
                <!-- Initial Search -->
                <div class="collapse navbar-collapse" id="collapseable_navigation">
                   
                </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

    <div class="container" style="background-color: #ffffff">
        <br>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
            	<div class="dropdown"> <!-- Not finished -->
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="Menu">
                            Logged in as <%= @logged_user.username %> 
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="Menu">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Settings</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-logout"></span>
                                    <%= link_to "logout", home_logout_path, confirm: "Are you sure you want to Logout?" %>
                                </a>
                            </li>
                        </ul>       		
            	</div>
            </div>        
            <div class="col-lg-6 col-md-6 col-sm-6">
                <%= form_tag do %>
                    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by title" %>                    
                <% end %>
            </div>
        	<div class="col-lg-3 col-md-3 col-sm-3">
        		<p>Date: <%= @date %></p>
                <span class="glyphicon glyphicon-log-out"></span> <%= link_to "Quick Exit", home_logout_path, class: "btn btn-link" %>
        	</div>        	
        </div>

        <!-- /.row -->
        <% if @logged_user.user_role == 'Administrator' %>
            <nav class="navbar navbar-default">			
                <ul class="nav navbar-nav">
                    <li class="active">
                        
                        <%= link_to "Home", home_index_path, :class => "glyphicon glyphicon-home" %>
                    </li>
                    <li>
                        <%= link_to "Add Item", home_add_item_path, :class => "glyphicon glyphicon-plus" %>
                    </li>
                    <li>
                        <%= link_to "Add User", home_add_user_path, :class => "glyphicon glyphicon-plus" %>
                    </li>
                    <li>
                        <%= link_to "Add New Category", home_add_category_path, :class => "glyphicon glyphicon-plus" %>
                    </li>
                    <li id="view_requests"">
                        <%= link_to "View Requests", home_view_item_path, :class => "glyphicon glyphicon-plus" %>
                    </li>
                </ul>   				
            </nav>
        <% end %>

        <hr>

        <!-- /.row -->
        <%= yield %>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <%= javascript_include_tag "bootstrap/jquery" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap/bootstrap.min" %>

</body>

</html>

